<div id="wrapper" style="position:relative;">
  <div class='container center' style="font-family: 'Pacifico'; font-size: 100px; line-height: 200px; color: #227CA1; height: 900px;">
    <div class='row'>the mittenberry</div>
    <img src='/assets/splash_photo.jpeg'></img>
  </div>

  <div class='row-fluid' style="background-color: #FDAFB4; font-family:'Yanone Kaffeesatz'; height: 1200px; position: relative;">
      <div class='container' style="font-size: 100px; line-height: 200px; color: #666; font-weight: 200; padding-top: 200px; text-align: right;">
        A fun gift for anyone to receive...
        <i class="icon-gift" style="font-size: 800px; line-height: 800px; color: #EFEFEf;"></i>
      </div>
  </div>


  <div class='row-fluid' style="background-color: #CBEDEE; font-family:'Yanone Kaffeesatz'; height: 1200px; position: relative;">
    <div class='container' style="font-size: 120px; line-height: 200px; color: #666; font-weight: 200; padding-top: 200px;">
      <span class='snow' style='position: absolute; top: 50px; left: 100px;'>*</span>
      <span class='snow' style='position: absolute; top: 15px; right: 200px;'>*</span>
      <span class='snow' style='position: absolute; top: 300px; left: 100px;'>*</span>
      <span class='snow' style='position: absolute; top: 200px; right: 800px;'>*</span>
      <span class='snow' style='position: absolute; top: 400px; left: 400px;'>*</span>
      <span class='snow' style='position: absolute; top: 500px; right: 600px'>*</span>
      <span class='snow' style='position: absolute; top: 600px; left: 700px;'>*</span>
      <span class='snow' style='position: absolute; top: 700px; left: 500px;'>*</span>
      <span class='snow' style='position: absolute; top: 10px; left: 700px;'>*</span>
      <span class='snow' style='position: absolute; top: 700px; right: 400px;'>*</span>
      <span class='snow' style='position: absolute; top: 400px; right: 400px;'>*</span>

      Trust us, we're from the mitten state.
      
    </div>
  </div>
  <div class='row-fluid' style="background-color: #FAFAFA; height: 700px; position: relative;">
    <div class='container' style='height: 600px; padding-top: 100px;'>
      <div class='row'>
        <div class='span4 offset2'>
          <div class='row'>
            <img id="product_photo" src="/assets/mittensdefault.jpg" />
          </div>
        </div>
        <div class='span4'>
          <div class='row' style="padding-bottom: 20px;">
            <span class="product_title">The Mittenberry</span>
          </div>
          <div class='row price_row'>
            <span class="product_price">$25.00</span>
          </div>
          <div class='row' style="padding-top: 20px;">
            <p>A modern spin on the mitten, the Mittenberry keeps your hands warm
            and your relationships warmer. Its supersoft wool will have your hands thanking you, 
            even on the coldest winter days. And a quick flip of the thumb flap lets your thumbs 
            do the talking. A winter must-have, the Mittenberry is the perfect complement to your
            new iPhone or Droid. We guarantee it will be love at first sight.</p>
          </div>
          <div class='row'>
            <div>Color: <span id="color_name"><b>Pick one!</b></span></div>
            <div id="colors">
              <% @products.each do |p| %>
                <div class="color" style='background: <%= "#{p.color}" %>' data-id='<%= "#{p.id}" %>' data-photo='<%= "#{p.photo}" %>' data-color-name='<%= "#{p.color_name}" %>'></div>
              <% end %>
            </div>
          </div>
          <br />
          <div class='row'>
            <%= form_for @order_product, :url => order_products_path do |f| %>
              <%= f.hidden_field :product_id, :value => "1" %>
              <%= f.hidden_field :quantity, :value => "1" %>
              <%= f.submit "Add to Cart", :class => 'btn btn-info', :style => "height: 40px; font-size: 20px;" %>
            <% end %>
          </div>
        </div>
      </div>

      <% if show_thank_you? %>
        <div id="thanks" class="row-fluid">
          <div class="container">
            Thank you! The elves are packing up your mittens as we speak!
          </div>
        </div>
      <% end %>
    </div>
  </div>

<div id="cart" style="position: fixed; bottom: 50px; right: 70px;"><a href="#checkout" data-toggle='modal'><i class="icon-shopping-cart" style="font-size: 60px;"></i><span id="total_quantity"><%= current_order.total_quantity %></span></a></div>
</div>

<%= render :partial => "shared/billing" %>
<%= render :partial => "shared/shipping" %>